.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  display: flex;
}

.title h4 {
  margin-left: 10%;
}

.AddStudent {
  margin-left: 60%;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  height: 45px;
  color: black;
  background-color: skyblue;
  border-radius: 10px;
}
.DeleteStudent {
  margin-left: 2%;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  height: 45px;
  color: black;
  background-color: rgb(202, 35, 74);
  border-radius: 10px;
}

.MainForm {
  display: flex;
  margin-left: 13%;
}

.LeftSide {
  width: 50%;
}

.RightSide {
  width: 50%;
}

.submitbtn {
  width: 100px;
  height: 45px;
  margin-left: 32%;
}
.cancelbtn {
  width: 100px;
  height: 45px;
  margin-left: 19rem;
}

.heading {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.Border {
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  margin: auto;
  max-width: 100vw;
}

.Border thead th {
  background: #bbddef;
  border-radius: 5px;
  font-weight: bold;
  color: #252f40;
  font-size: 15px;
  width: 100vw;
}
.tablecontent {
  border-collapse: collapse;
}
.rowcontect {
  margin-left: 55px;
}

tbody td {
  font-size: 14px;
  font-family: Open Sans;
}

.EDIcons {
  cursor: pointer;
  text-align: center;
}
